Repository pangeo-forge/pangeo-forge-aws-bakery: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstring-first, check-json, check-yaml, isort, black, flake8

.pre-commit-config.yaml:

default_stages: [commit]
exclude: ^cdk.out/
repos:
  - repo: local
    hooks:
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pipenv run trailing-whitespace-fixer
        language: system

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pipenv run end-of-file-fixer
        language: system

      - id: check-docstring-first
        name: check-docstring-first
        entry: pipenv run check-docstring-first
        types: [python]
        language: system

      - id: check-json
        name: check-json
        entry: pipenv run check-json
        types: [json]
        language: system

      - id: check-yaml
        name: check-yaml
        entry: pipenv run check-yaml
        types: [yaml]
        language: system

      - id: isort
        name: isort
        language: system
        entry: pipenv run isort
        types: [python]
        args: ["--check-only", "--profile", "black", "cdk/", "flow_test/"]

      - id: black
        name: black
        language: system
        entry: pipenv run black
        types: [python]
        args: ["--check", "cdk/", "flow_test/", "--line-length", "100"]

      - id: flake8
        name: flake8
        language: system
        entry: pipenv run flake8
        types: [python]
        args: ["--max-line-length", "100", "cdk/", "flow_test/"]

Linting and formatting fixes to conform to pre-commit specs.
  cdk/bakery_stack.py
  example.env
  flow_test/transform_flow.py
  images/worker/Dockerfile
Due: check-docstring-first, isort, black, flake8

Create dynamic dask scheduler and workers on each Prefect Flow run. (#13)
  .github/workflows/ci.yml
  .gitignore
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  cdk/bakery_stack.py
  example.env
  flow_test/manual_dask_flow.py
  flow_test/manual_flow.py
  flow_test/transform_flow.py
  flow_test/transform_tasks/http.py
  flow_test/transform_tasks/xarray.py
  flow_test/transform_tasks/zarr.py
  flow_test/utils.py
  images/agent/Dockerfile
  images/worker/Dockerfile
  package-lock.json
  package.json
Due: check-docstring-first, check-json, check-yaml, isort, black, flake8

Pre commit hooks (#18)
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
  cdk/bakery_stack.py
  example.env
  flow_test/transform_flow.py
  images/worker/Dockerfile
Due: check-docstring-first, check-yaml, isort, black, flake8

Add networking configuration for separate security groups
  .flake8
  cdk/bakery_stack.py
  flow_test/manual_dask_flow.py
  package-lock.json
Due: check-docstring-first, check-json, isort, black, flake8

Add diagram of architecture (currently)
  README.md
  diagrams/pangeo-forge-aws-bakery.drawio
  diagrams/pangeo-forge-aws-bakery.png
Due: none

Include a pre-created user for use with bakeries.yaml target creds.
  README.md
  cdk/app.py
  cdk/bakery_stack.py
  example.env
Due: check-docstring-first, isort, black, flake8

Allow bucket user access to the flow storage bucket for registration.
  cdk/bakery_stack.py
Due: check-docstring-first, isort, black, flake8

Bucket user (#19)
  README.md
  cdk/app.py
  cdk/bakery_stack.py
  example.env
Due: check-docstring-first, isort, black, flake8

Add Bucket IAM User as Prerequisite for deployments
  README.md
Due: none

Add Bucket IAM User as Prerequisite for deployments (#20)
  README.md
Due: none

Use pangeo-notebook as a base worker image.
  images/worker/Dockerfile
Due: none

Use pangeo-notebook as a base worker image. (#23)
  images/worker/Dockerfile
Due: none

Switch to Poetry, bump cdk, update readme
  .flake8
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  example.env
  package-lock.json
  package.json
  poetry.lock
  poetry.toml
  pyproject.toml
Due: check-json

Bump CDK to 1.108.0 and Prefect 0.14.19
  poetry.lock
  pyproject.toml
Due: none

Remove pipenv from pre-commit and fix ci workflow
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: check-yaml

Update README and fix issues with versioning (Python & dependencies)
  README.md
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: check-json

Update Agent to use BAKERY_IMAGE and to invoke prefect manually
  cdk/bakery_stack.py
Due: check-docstring-first, isort, black, flake8

Remove unused images and flow tests
  flow_test/manual_dask_flow.py
  flow_test/manual_flow.py
  flow_test/transform_flow.py
  flow_test/transform_tasks/http.py
  flow_test/transform_tasks/xarray.py
  flow_test/transform_tasks/zarr.py
  images/agent/Dockerfile
  images/worker/Dockerfile
Due: check-docstring-first, isort, black, flake8

Add OISST recipe -> flow
  example.env
  flow_test/oisst_recipe.py
Due: check-docstring-first, isort, black, flake8

Add example for registering flows and modify labels ENV var
  README.md
  cdk/bakery_stack.py
  example.env
  flow_test/oisst_recipe.py
Due: check-docstring-first, isort, black, flake8

Modify flow and Makefile for registering with Docker container
  Makefile
  README.md
  flow_test/oisst_recipe.py
Due: check-docstring-first, isort, black, flake8

Bump CDK to 1.109.0
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: check-json

Refactor to use DockerHub and new Recipe layout (#24)
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  cdk/bakery_stack.py
  example.env
  flow_test/manual_dask_flow.py
  flow_test/manual_flow.py
  flow_test/oisst_recipe.py
  flow_test/transform_flow.py
  flow_test/transform_tasks/http.py
  flow_test/transform_tasks/xarray.py
  flow_test/transform_tasks/zarr.py
  images/agent/Dockerfile
  images/worker/Dockerfile
  package-lock.json
  package.json
  poetry.lock
  poetry.toml
  pyproject.toml
Due: check-docstring-first, check-json, check-yaml, isort, black, flake8

Update README.md
  README.md
Due: none
